<footer class="footer">
  <div class="footer-container">
    <section>
      <h3 class="footer-title-item">Sobre</h3>
      <p class="footer-about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, voluptas dolorum inventore ipsum eligendi error. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, atque.</p>
    </section>
    <address>
      <h3 class="footer-title-item">Contato</h3>
      <ul>
        <li>Telefone</li>
        <li>E-mail</li>
        <li>WhatsApp</li>
      </ul>
    </address>
  </div>
  <div class="footer-bottom">
    <p>© 2023 - Todos os direitos reservados</p>
  </div>
</footer>
