<section class="produto-destaque">
  <h2 class="--title">MAIS VENDIDO</h2>
  <div class="produto-box">
    <img [src]="produto.imagem" alt="" class="img-item">
    <div class="produto-info">
      <h3 class="produto-titulo">{{ produto.descricao}}</h3>
      <div class="price-row">
        <span class="produto-preco">{{ produto.preco | currency:'BRL' }}</span>
        <span class="add-cart">
          Adicionar ao carrinho:
          <input type="number" class="input-quant" min="1" [(ngModel)]="quantidade">
        </span>
      </div>
      <p class="produto-descricao">{{ produto.descricaoPreco}}</p>
      <button class="btn-comprar" (click)="adicionarAoCarrinho()">Comprar</button>
      <div class="timer">
        <span class="timer-title">ACABA EM:</span>
        <span class="timer-value">{{ segundosMinutos()[0] + ':'+  segundosMinutos()[1]}}</span>
      </div>
    <span class="desconto">
      30% OFF
    </span>
    </div>
  </div>
</section>

<section class="outros-produtos">
  <h2 class="--title">PRODUTOS EM DESTAQUE</h2>
  <div class="product-list">
    <div class="product-list--card" *ngFor="let produto of produtos">
      <a routerLink="/produtos/{{produto.id}}" class="product-list--link">
        <img class="outros-produtos--img" [src]="produto.imagem">
        <div class="product-list--texts">
          <h3 class="product-item--name">
            {{produto.descricao}}
          </h3>
          <p class="product-item--price">
            {{produto.preco | currency:'BRL'}}
          </p>
          <p class="product-item--description">
            {{produto.descricaoPreco}}
          </p>
          <button class="product-item--buy-btn" type="button">Comprar</button>
        </div>
      </a>
    </div>
  </div>
</section>
