.not-found {
    font-size: 30px;
    font-weight: bold;
    color: #f00;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

p {
  line-height: 30px;
}
